.contact-wrapper {
    height: calc(100vh - 6rem - 12px);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.contact-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.contact-wrapper::-webkit-scrollbar-button {
    display: none;
}

/* Additional customization for the scrollbar track and thumb */
.contact-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--bg-gray);
    height: 1rem;
}

.contact-wrapper::-webkit-scrollbar-track {
    background-color: var(--bg-main);
}

.contact-wrapper h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.contact-wrapper form {
    display: flex;
    flex-direction: column;
    width: min(100%, 800px);
    padding: 2rem;
    border: solid 1px var(--bg-gray);
    border-radius: 0.5rem;
    /* box-shadow: 0 0px 20px -10px var(--bg-gray); */
    animation: box-shadow-breath 4s ease infinite ;
}

input, textarea, .contact-submit-btn, label {
    display: block;
    border: none;
    background: transparent;
    color: var(--text-white);
    width: 100%;
    margin: 0.5rem auto;
}

form div {
    margin-bottom: 0.5rem;
}

input::placeholder, textarea::placeholder {
    color: var(--text-gray);
}

input, textarea {
    padding: 0.5rem;
    border: solid 1px var(--text-gray);
    border-radius: 0.2rem;
}

label span {
    color: var(--text-pink);
    margin-right: 0.2rem;
}

.contact-submit-btn {
    width: min(100%, 200px);
    margin-top: 1.5rem;
    background-color: var(--bg-pink);
    padding: 0.5rem;
    color: var(--bg-dark);
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.contact-submit-btn:hover {
    box-shadow: 0 0 4px var(--bg-green);
}

.email-sent-message {
    padding-top: 1.5rem;
    opacity: 1;
    transform: translateY(0);
    transition: .5s;
}

.email-sent-message.display-none {
    padding-top: 1.5rem;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes message-display {
    0%, 100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10%, 90% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes box-shadow-breath {
    0%, 100% {
        box-shadow: 0 0 20px -10px var(--bg-gray);
    }
    50% {
        box-shadow: 0 0 20px -5px var(--bg-blue);
    }
}