/* projects page style */
.projects-home {
  height: calc(100vh - 6rem - 12px);
  position: relative;
  display: flex;
}

/* Projects sidebar style */
.project-sidebar {
  box-sizing: border-box;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke);
  border-bottom: none;
  border-top: 0;
  min-width: 160px;
}

.project-sidebar svg {
  width: 1rem;
  margin-right: 0.5rem;
}

.project-sidebar img {
  width: 1.1rem;
  margin-right: 0.5rem;
}

.project-sidebar nav{
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.project-sidebar button {
  border: none;
  background-color: transparent;
  color: var(--text-gray);
  margin-bottom: 0.8rem;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project-sidebar .activeBtn {
  color: var(--text-white);
}

.project-sidebar nav svg {
  stroke: var(--text-gray);
}

.project-sidebar nav .link-actived {
  color: var(--text-white)
}

.project-sidebar nav .link-actived svg {
  stroke: var(--text-white);
}

.project-sidebar a {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.project-sidebar p {
  border: 1px solid var(--stroke);
  border-left: none;
  border-right: none;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.project-sidebar p:nth-child(1) {
  border-top: none;
}

.project-sidebar-title {
  padding: 1rem 1.5rem;
}

/* Projects part style */
.projects-wrapper {
  overflow-y: scroll;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@keyframes breath {
  0% {
    filter: blur(40px);
  }
  50% {
    filter: blur(160px);
  }
  100% {
    filter: blur(40px);
  }
}

.projects-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  background: radial-gradient(circle at 100%, #3da68667 0%, transparent 20%), radial-gradient(circle at 30%, #5561bb65 0%, transparent 20%);
  /* background: radial-gradient(ellipse at left, var(--bg-green), transparent),
            radial-gradient(ellipse at right, var(--bg-blue), transparent); */
  filter: blur(150px) brightness(30%);
  height: calc(100vh - 6rem - 12px);
  width: 90%;
  animation: breath 4s ease-in-out infinite;
}


.projects-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.projects-wrapper::-webkit-scrollbar-button {
  display: none;
}

/* Additional customization for the scrollbar track and thumb */
.projects-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--bg-gray);
  height: 1rem;
}

.projects-wrapper::-webkit-scrollbar-track {
  background-color: var(--bg-main);
}

.projects-wrapper .mac-screen-wrapper {
  position: relative;
  max-width: 400px;
}

.imageCardHover {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  color: var(--text-white);
  line-height: 1.3;
  border-radius: 1rem;
  transition: .3s;
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imageCardHover.show {
  opacity: 1;
  transform: translateY(0);
}

.imageCardHover .comment-line {
  background: none;
  border: none;
  color: var(--text-gray);
  padding-bottom: 0.2rem;
  border-bottom: solid 1px var(--stroke);
  cursor: pointer;
}

.tags-buttons {
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags-buttons img {
  height: 1.8rem;
  padding: 0.1rem;
  margin: auto 0.1rem;
}

/* Project Details Page Style */
.project-details-container {
  height: calc(100vh - 6rem - 12px);
  position: relative;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.project-details-container .back-to-projects-btn {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.project-detail-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: min(100%, 600px);
}

.project-detail-content-wrapper .image-container {
  position: relative;
  margin: 1rem auto;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  box-shadow: 0 0 10px -5px var(--bg-gray);
  border: 0.4rem;
}

.project-detail-content-wrapper .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}

.project-details-basic-info {
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.3;
  width: 100%;
}

.project-details-basic-info h3 {
  font-size: 1.3rem;
  color: var(--text-gray);
}

.project-details-basic-info h3 span {
  color: var(--text-green);
}

.project-details-basic-info a {
  background: linear-gradient(to right, var(--text-gray), var(--text-pink)) no-repeat left bottom;
  background-size: 0 2px;
  transition: .5s;
  color: var(--text-pink);
}

.project-details-basic-info a:hover {
  background-size: 100% 2px;
}

.project-details-basic-info > div {
  margin: 1rem auto;
}

.project-detail-tags {
  display: flex;
  gap: 1rem
}

.project-detail-tags img {
  width: 30px;
}

.project-detail-desc-wrapper {
  padding: 1.5rem;
  line-height: 1.3;
}

.project-detail-desc-wrapper h4 {
  color: var(--text-green);
  font-size: 1.2rem;
  margin: 2rem auto 1rem auto;
}

.project-detail-desc-wrapper ul li span{
  color: var(--text-pink);
}

.peoject-video-info .project-video-container {
  position: relative;
  margin: 2rem auto;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

.peoject-video-info .project-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-detail-desc-wrapper {
  overflow-y: scroll;
  width: min(100%, 800px);
}

.project-detail-desc-wrapper::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.project-detail-desc-wrapper::-webkit-scrollbar-button {
  display: none;
}

@media only screen and (max-width: 780px) {
  .projects-home {
    padding-top: 3rem;
    height: calc(100vh - 3rem - 12px);
    overflow-y: scroll;
  }

  .projects-home::-webkit-scrollbar-button {
    display: none;
  }

  .projects-home::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .project-sidebar {
    display: none;
  }

  /* Project details page tyle */
  .project-details-container {
    padding-top: 3rem;
    height: calc(100vh - 3rem - 12px);
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow-y: scroll;
    justify-content: flex-start;
  }

  .project-detail-content-wrapper {
    padding-bottom: 0;
  }

  .project-details-container::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  
  .project-details-container::-webkit-scrollbar-button {
    display: none;
  }

  .project-detail-desc-wrapper {
    padding-top: 0;
  }

  .project-detail-desc-wrapper {
    overflow-y: unset;
  }

}