/* Skills Styling */
.skills-wrapper {
    padding: 1rem;
}
  
.skill-category {
  margin-bottom: 1.5rem;
  width: 100%;
  border: solid 1px var(--bg-gray);
  border-radius: 1rem;
  padding: 1rem;
}

.skill-category h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  display: flex;
  align-items: center;
  width: calc(50% - 1rem); 
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--bg-gray);
}

.skill-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.6rem;
}

.skill-info {
  flex: 1;
}

.skill-info h4 {
  margin: 0;
  font-size: 0.8rem;
}

.progress-bar {
  background-color: var(--text-white);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  height: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

@media only screen and (max-width: 1140px) {
  .skills-list {
    flex-direction: column;
  }

  .skill {
    display: flex;
    align-items: center;
    width: 100%; 
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--bg-gray);
  }
}

@media only screen and (max-width: 780px) {
  .skills-list {
    flex-direction: row;
  }

  .skill {
    display: flex;
    align-items: center;
    width: calc(50% - 1rem); 
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--bg-gray);
  }
}

@media only screen and (max-width: 420px) {

  .skill {
    display: flex;
    align-items: center;
    width: 100%; 
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--bg-gray);
  }
}
