@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* variables */
:root {
  --bg-main: #011627;
  --bg-green: #43d9ad;
  --bg-blue: #4d5bce;
  --bg-dark: #011221;
  --bg-pink: #fea55f;
  --bg-gray: #607b96;
  --text-white: #d2d7df;
  --text-gray: #86a2bd;
  --text-blue: #6471ce;
  --text-pink: #e99287;
  --text-green: #43d9ad;
  --text-blue-name: #5565e8;
  --text-purple: #c98bdf;
  --stroke: #1e2d3d;
}

/* global style */
body {
  overflow: hidden;
  font-family: "Fira Code", monospace;
}

a {
  color: var(--text-gray);
}

a:active {
  color: var(--text-gray);
}

/* container setting */
.global-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-white);
}

/* header style */
header {
  display: flex;
  width: 100%;
  border: 1px solid var(--stroke);
}

header nav {
  flex-grow: 1;
  display: flex;
}

.header-email {
  display: block;
  margin-left: auto;
}

header a {
  padding: 1rem 1.5rem;
  border: 1px solid var(--stroke);
  transition: 
    color .3s,
    border-color .5s
  ;
}

.site-logo {
  padding-right: 6rem;
}

/* footer style */
footer {
  position: absolute;
  bottom: 0;
  color: var(--text-gray);
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid var(--stroke);
}

footer a, footer p {
  padding: 1rem 1.5rem;
  border: 1px solid var(--stroke);
}

.footer-left {
  display: flex;
}

.footer-left a {
  border-left: none;
  border-top: none;
}

.footer-left > p {
  min-width: 159px;
  /* border-right: none; */
  border-top: none;
  border-left: none;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-top: none;
  border-bottom: none;
}

footer svg {
  width: 1.2rem;
  height: 1.2rem;
}

@media only screen and (max-width: 780px) {
  
  .site-logo {
    display: none;
  }

  .header-email {
    display: none;
  }
  
  footer {
    position: relative;
  }

  .footer-left > p {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    background: var(--bg-main);
    z-index: 1000;
  }

  footer {
    position: fixed;
    background-color: var(--bg-main);
    z-index: 1000;
  }
  
}