@use '_variables';

@mixin center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin hide-scroll-bar {
    -ms-overflow-style: none;  /* Hide scroll bar on IE and Edge */
    scrollbar-width: none;  /* Hide scroll bar on Firefox */
}

@keyframes breath-blur {
    0% {
      filter: blur(40px);
    }
    50% {
      filter: blur(150px);
    }
    100% {
      filter: blur(40px);
    }
}

@keyframes type-writer-blinking {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

.global-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: variables.$bg-main;
    color: variables.$text-white;
}

.hello-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: variables.$sub-container-height;

    .brief-info {
        height: 100%;
        @include center-flex-column();

        .brief-info-container {
            width: fit-content;
            font-size: 1.1rem;
            padding: 1.5rem;

            .name {
                font-size: 3.875rem;
                margin: 0.8rem auto;
            }

            .role {
                font-size: 2rem;
                color: variables.$text-blue-name;
                margin-bottom: 2rem;
            }

            .comment-line {
                font-size: 1rem;
                color: variables.$text-gray;
                margin-bottom: 0.5rem;
            }

            .blinking-cursor {
                display: inline-block;
                color: variables.$text-white;
                background-color: variables.$bg-main;
                width: 2px;
                animation: type-writer-blinking 1s step-end infinite;
            }
        }
    }

    .assistant-container {
        position: relative;
        z-index: 1;
        @include center-flex-column();
        height: variables.$sub-container-height;
        padding: 1rem;

        .comment-line {
            align-self: self-start;
            padding-left: 0.5rem;
        }

        .ai-assistant {
            background-color: variables.$bg-main;
            margin-top: 0.5rem;
            border-radius: 1rem;
            border: solid 1px variables.$bg-gray;
            height: min(100%, 600px);
            max-width: 600px;
            position: relative;

            form {
                background-color: variables.$bg-main;
                padding: 1rem;
                box-shadow: 0 -2px 5px variables.$bg-gray;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                input {
                    display: block;
                    width: calc(100% - 60px - 1rem);
                    background-color: transparent;
                    border: solid 1px variables.$bg-gray;
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                    color: variables.$text-white;
                }

                button {
                    width: 60px;
                    background-color: variables.$bg-pink;
                    border: solid 1px variables.$bg-gray;
                    border-radius: 0.4rem;
                    color: variables.$bg-main;
                }

                button:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px variables.$bg-gray;
                }
            }

            .gpt-typing-effect {
                height: auto;
                padding-left: 1rem;
                background-color: variables.$bg-main;
                padding: 1rem;
                box-shadow: 0 -2px 5px variables.$bg-gray;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                gap: 1rem;
                color: var(--text-gray);
            }
        }

        .ai-assistant > div {
            padding: 1rem;
            overflow-y: scroll;
            @include hide-scroll-bar();
            height: min(100% - 5rem, 600px - 5rem);
            margin-top: 0.5rem;

            .GPT-text-box img, .user-text-box img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: solid 2px variables.$bg-blue;
            }
              
            .GPT-text-box {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 1rem;
                margin-right: calc(30px + 0.6rem);
                letter-spacing: 0.03rem;
                line-height: 1.2;

                .name-text-group .title {
                    font-size: 0.8rem;
                    color: variables.$text-pink;
                    margin-bottom: 0.5rem;
                    color: variables.$text-gray;
                }
                  
                .name-text-group .text-content {
                    border: solid 1px variables.$text-gray;
                    border-radius: 0.5rem;
                    padding: 0.6rem;
                    line-height: 1.2;
                }

                .example-questions {
                    display: flex;
                    flex-wrap: wrap;
                }
                  
                .example-questions > p {
                    border: solid 1px variables.$bg-gray;
                    margin: 0.5rem;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    color: variables.$text-green;
                }
                  
                .example-questions > p:hover {
                    cursor: pointer;
                    box-shadow: 0 0 5px variables.$bg-green;
                }
            }
              
            .user-text-box {
                display: flex;
                flex-direction: row-reverse;
                gap: 0.5rem;
                margin-bottom: 1rem;
                margin-left: calc(30px + 0.6rem);
                letter-spacing: 0.03rem;
                line-height: 1.2;

                .user-text-box .text-content {
                    color: variables.$text-green;
                }
                  
                .user-text-box .title {
                    text-align: end;
                }
            }

            .text-content .text-content-hint {
                font-size: 0.8rem;
                color: variables.$text-gray;
                margin: 0.5rem auto;
            }
              
            .text-content strong {
                color: variables.$text-pink;
            }
        }

        .ai-assistant > div::-webkit-scrollbar {
            display: none;
        }
    }

    .assistant-container::after {
        content: '';
        position: absolute;
        top: 0;
        background: radial-gradient(circle at center, variables.$bg-green 0%, transparent 50%);
        filter: blur(150px);
        height: 100%;
        width: 100%;
        z-index: -1;
        animation: breath-blur 4s ease-in-out infinite;
    }
}

/* About page style */
.about-wrapper {
    height: variables.$sub-container-height;
    display: flex;
    padding: 0;

    .about-sidebar {
        box-sizing: border-box;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        border: 1px solid variables.$stroke;
        border-top: 0;

        svg {
            width: 1rem;
            margin-right: 0.5rem;
        }

        nav{
            display: flex;
            flex-direction: column;
            padding: 1rem 1.5rem;

            svg {
                stroke: variables.$text-gray;
            }

            .link-actived {
                color: var(--text-white);

                svg {
                    stroke: variables.$text-white;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;
        }

        p {
            border: variables.$general-border;
            border-left: none;
            border-right: none;
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center;
        }

        p:nth-child(1) {
            border-top: none;
        }

        .about-contact-info {
            padding: 1rem 1.5rem;
        }
    }

    .bio-wrapper {
        height: variables.$sub-container-height;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .bio-text {
            height: variables.$sub-container-height;
            width: 100%;
            border: variables.$general-border;
            border-top: none;
        }

        .bio-sub-title {
            height: 3rem;
            width: 100%;
            border: variables.$general-border;
            border-left: none;
            border-right: none;
            display: flex;
            align-items: center;
        }

        .bio-sub-title > p {
            height: 100%;
            padding-left: 1rem;
            color: variables.$text-gray;
            display: flex;
            align-items: center;
            border: variables.$general-border;
        }

        svg {
            width: 1.5rem;
            margin-left: 1rem;
        }

        .bio-content {
            overflow-y: auto;
            height: calc(100% - 3.1rem);

            .title {
                color: variables.$text-pink;
            }
        }

        .bio-content::-webkit-scrollbar, .skills-content::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }
          
        .bio-content::-webkit-scrollbar-button, .skills-content::-webkit-scrollbar-button {
            display: none;
        }

        .skills-content{
            overflow-y: auto;
            height: calc(100% - 3.1rem);
        }

        /* Additional customization for the scrollbar track and thumb */
        .bio-content::-webkit-scrollbar-thumb, .skills-content::-webkit-scrollbar-thumb {
            background-color: var(--bg-gray);
            height: 1rem;
        }
        
        .bio-content::-webkit-scrollbar-track, .skills-content::-webkit-scrollbar-track {
            background-color: variables.$bg-main;
        }

        .text-lines {
            color: variables.$text-white;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
          
        .text-lines .line {
            display: flex;
            margin-bottom: 0.5rem;
        }
          
        .text-lines p {
            margin-bottom: 0.5rem;
            display: flex;
        }
          
        .text-lines .index {
            display: inline-block;
            margin-right: 1.5rem;
            text-align: right;
            width: 2rem;
        }
          
        .text-lines .text {
            display: inline-block;
            width: 100%;
            flex-grow: 1;
        }
          
        .text-lines span:nth-child(2) {
            width: 100%;
        }
          
        .text-line-measurement {
            visibility: hidden;
            position: absolute;
            white-space: nowrap;
        }
          
        .strong-text-wrapper {
            display: inline;
        }
          
        .strong-text-wrapper strong {
            color: variables.$text-pink;
        }
          
        /* bio image part */
        .bio-img {
            box-sizing: border-box;
            height: variables.$sub-container-height;
            width: 100%;
            border: variables.$general-border;
            border-top: none;
            border-left: none;
        }
          
        .bio-img-content {
            padding: 1.5rem;
            display: flex;
            justify-content: center;
        }
          
        .bio-img-content img {
            width: min(100%, 400px);
            border-radius: 0.5rem;
        }
          
        /* Video content part */  
        .mac-screen-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.5);
        }
          
        .mac-screen-wrapper:hover {
            box-shadow: 5px 5px 100px rgba(255, 255, 255, 0.3);
            /* transform: perspective(800px) translate3d(0, -25px, 50px); */
            transition: 0.5s;
        }
          
        .mac-container {
            width: 100%;
            max-width: 600px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            overflow: hidden;
            background: variables.$bg-dark;
            border: variables.$general-border;
            color: variables.$text-white;
        }
          
        .mac-screen {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            max-width: 640px;
            overflow: hidden;
            flex: 1 1 auto;
        }
          
        .mac-screen iframe, .mac-screen a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 640px;
            height: 100%;
            border: 0;
            overflow: hidden;
        }
          
        .mac-screen img {
            width: 100%;
        }
          
        .mac-title-bar {
            background: var(--bg-dark);
            height: 2.2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            border-bottom: variables.$general-border;
        }
          
        .mac-title-bar .buttons {
            display: flex;
            align-items: center;
            gap: 6px;
        }
          
        .mac-title-bar .button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #ff5f57;
        }
          
        .mac-title-bar .button:nth-child(2) {
            background: #ffbd2e;
        }
          
        .mac-title-bar .button:nth-child(3) {
            background: #28c940;
        }
          
        .video-title {
            margin: 1rem;
            text-align: center;
            font-size: 0.8rem;
            line-height: 1.5rem;
        }
          
        .interests-content {
            box-sizing: border-box;
            height: 100%;
            padding: 1rem;
            display: flex;
            justify-content: center;
        }
          
        .interests-gallery {
            --interset-gallery-height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            height: 100%;
            max-width: calc((100vh - 6rem) / 2);
        }
    }

    /* Skills Styling */
    .skills-wrapper {
        padding: 1rem;
    }
    
    .skill-category {
        margin-bottom: 1.5rem;
        width: 100%;
        border: solid 1px variables.$bg-gray;
        border-radius: 1rem;
        padding: 1rem;
    }

    .skill-category h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skill {
        display: flex;
        align-items: center;
        width: calc(50% - 1rem); 
        padding: 0.6rem;
        border-radius: 0.5rem;
        background-color: variables.$bg-gray;
    }

    .skill-icon {
        width: 40px;
        height: 40px;
        margin-right: 0.6rem;
    }

    .skill-info {
        flex: 1;
    }

    .skill-info h4 {
        margin: 0;
        font-size: 0.8rem;
    }

    .progress-bar {
        background-color: variables.$text-white;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 5px;
        height: 10px;
    }

    .progress {
        height: 100%;
        background-color: #4caf50;
        border-radius: 5px;
    }

    /* Experience */
    .experience-unit {
        padding: 1rem;
        border-radius: 1rem;
        border: solid 1px variables.$bg-gray;
        margin-bottom: 1.5rem;
    }
    
    .experience-unit h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: variables.$text-green;
    }
    
    .comment-line {
        font-size: 0.8rem;
        color: variables.$text-gray;
        margin-bottom: 0.5rem;
    }
    
    .experience-unit ul li {
        margin: 0.8rem auto;
        line-height: 1.3;
    }
    
    .desc-index {
        color: variables.$text-pink;
    }
}

.contact-wrapper {
    height: calc(100vh - 6rem - 12px);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        width: min(100%, 800px);
        padding: 2rem;
        border: solid 1px var(--bg-gray);
        border-radius: 0.5rem;
        /* box-shadow: 0 0px 20px -10px var(--bg-gray); */
        animation: box-shadow-breath 4s ease infinite ;
    }

    input, textarea, .contact-submit-btn, label {
        display: block;
        border: none;
        background: transparent;
        color: var(--text-white);
        width: 100%;
        margin: 0.5rem auto;
    }
    
    form div {
        margin-bottom: 0.5rem;
    }
    
    input::placeholder, textarea::placeholder {
        color: var(--text-gray);
    }
    
    input, textarea {
        padding: 0.5rem;
        border: solid 1px var(--text-gray);
        border-radius: 0.2rem;
    }
    
    label span {
        color: var(--text-pink);
        margin-right: 0.2rem;
    }
    
    .contact-submit-btn {
        width: min(100%, 200px);
        margin-top: 1.5rem;
        background-color: var(--bg-pink);
        padding: 0.5rem;
        color: var(--bg-dark);
        border-radius: 0.4rem;
        font-size: 1rem;
        cursor: pointer;
        transition: .3s;
    }
    
    .contact-submit-btn:hover {
        box-shadow: 0 0 4px var(--bg-green);
    }
    
    .email-sent-message {
        padding-top: 1.5rem;
        opacity: 1;
        transform: translateY(0);
        transition: .5s;
    }
    
    .email-sent-message.display-none {
        padding-top: 1.5rem;
        opacity: 0;
        transform: translateY(20px);
    }
}

.contact-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.contact-wrapper::-webkit-scrollbar-button {
    display: none;
}

/* Additional customization for the scrollbar track and thumb */
.contact-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--bg-gray);
    height: 1rem;
}

.contact-wrapper::-webkit-scrollbar-track {
    background-color: var(--bg-main);
}

@keyframes message-display {
    0%, 100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10%, 90% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes box-shadow-breath {
    0%, 100% {
        box-shadow: 0 0 20px -10px var(--bg-gray);
    }
    50% {
        box-shadow: 0 0 20px -5px var(--bg-blue);
    }
}

@media only screen and (max-width: 1140px) {
    .skills-list {
      flex-direction: column;
    }
  
    .skill {
      width: 100%; 
    }
}

@media only screen and (max-width: variables.$mobile-screen) {
    .hello-wrapper {
        grid-template-columns: 1fr;
        overflow-y: scroll;
        height: calc(variables.$sub-container-height + 6rem);
        padding-top: 3rem;
    }
  
  
    .hello-wrapper::-webkit-scrollbar-button {
        display: none;
    }
  
    .hello-wrapper::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
  
    .brief-info {
        margin: 2rem auto 4rem auto;
    }

    .about-wrapper {
        flex-wrap: wrap;
        height: calc(100vh - 3rem - 12px);
        overflow-y: scroll;
        padding-top: 3rem;
    }
    
    .about-wrapper::-webkit-scrollbar-button {
        display: none;
    }
    
    .about-wrapper::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    
    .about-sidebar {
        box-sizing: border-box;
        height: fit-content;
        width: 100%;
        display: flex;
    }
    
    .about-sidebar nav{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 1.5rem;
        gap: 1rem;
    }
    
    .about-sidebar a {
        margin-bottom: 0;
    }
    
    .about-sidebar .about-contact-title {
        display: none;
    }
    
    .about-contact-info {
        display: none;
    }
    
    .bio-wrapper {
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .bio-content, .bio-text {
        height: fit-content;
    }

    .skills-list {
        flex-direction: row;
    }
    
    .skill {
        width: calc(50% - 1rem); 
    }
}

@media only screen and (max-width: 420px) {

    .skill {
      width: 100%; 
    }
}