// background colors
$bg-main: #011627;
$bg-green: #43d9ad;
$bg-blue: #4d5bce;
$bg-dark: #011221;
$bg-pink: #fea55f;
$bg-gray: #607b96;

// text colors;
$text-white: #d2d7df;
$text-gray: #86a2bd;
$text-blue: #6471ce;
$text-pink: #e99287;
$text-green: #43d9ad;
$text-blue-name: #5565e8;
$text-purple: #c98bdf;

// border colors;
$stroke: #1e2d3d;

// gradient colors

// border style
$general-border: 1px solid $stroke;


// sizeing 
$sub-container-height: calc(100vh - 7rem);
$mobile-screen: 780px;